

<!DOCTYPE html>
<html>
<head>
<title>Drum Quiz</title>
</head>
<body>
<h1>Drum Quiz</h1>
<p>In this section, you'll find an interactive quiz to test your drumming knowledge and skills. The quiz covers a variety of topics, including drum rudiments, beats, fills, and solos.</p>
<p>To take the quiz, simply answer the questions to the best of your ability. Once you've answered all of the questions, click the "Submit" button to see your score.</p>

<form action="/quiz" method="post">
<ol>
<li>What is the most basic drum rudiment?</li>
<input type="radio" name="question1" value="single stroke roll"> Single stroke roll
<input type="radio" name="question1" value="double stroke roll"> Double stroke roll
<input type="radio" name="question1" value="paradiddle"> Paradiddle
<input type="radio" name="question1" value="flam"> Flam

<li>What is the most common drum beat?</li>
<input type="radio" name="question2" value="4/4 time"> 4/4 time
<input type="radio" name="question2" value="3/4 time"> 3/4 time
<input type="radio" name="question2" value="6/8 time"> 6/8 time
<input type="radio" name="question2" value="12/8 time"> 12/8 time

<li>What is a fill?</li>
<input type="radio" name="question3" value="A short drum solo"> A short drum solo
<input type="radio" name="question3" value="A drum beat that transitions between two different sections of a song"> A drum beat that transitions between two different sections of a song
<input type="radio" name="question3" value="A drum beat that is played at the end of a song"> A drum beat that is played at the end of a song
<input type="radio" name="question3" value="A drum beat that is played in the middle of a song"> A drum beat that is played in the middle of a song

<li>What is a solo?</li>
<input type="radio" name="question4" value="A long drum solo"> A long drum solo
<input type="radio" name="question4" value="A short drum solo"> A short drum solo
<input type="radio" name="question4" value="A drum beat that transitions between two different sections of a song"> A drum beat that transitions between two different sections of a song
<input type="radio" name="question4" value="A drum beat that is played at the end of a song"> A drum beat that is played at the end of a song

<li>What is the most important thing to remember when playing drums?</li>
<input type="radio" name="question5" value="Have fun!"> Have fun!
<input type="radio" name="question5" value="Keep a steady beat"> Keep a steady beat
<input type="radio" name="question5" value="Play with feeling"> Play with feeling
<input type="radio" name="question5" value="All of the above"> All of the above
</ol>

<input type="submit" value="Submit">
</form>
</body>
</html>


